* {
  margin: 0;
  padding: 0;
}
body {
  height: 80vh;
  background-image: repeating-radial-gradient(
    rgba(0, 255, 21, 0.135),
    rgba(246, 255, 0, 0.461),
    rgba(255, 0, 0, 0.16)
  );
}
button {
  color: rgb(102, 89, 42);
  border-color: rgb(102, 89, 42);
  padding: 2px;
}
